html {
    width: 100%;
    height: 100%;
    clip: auto;
    position: absolute;
    overflow: hidden;
    margin-left: 20px;
 }

body{
    min-height: 100vh;
    background-color: black;
}

h1{

    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
    font-size: 100px;
    color:white;
    text-align: center;

}

p,h2{
    color:white;
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;

}



.insta{
    color:white;
    font-size: 70px;
    transition: 0.2s;
    text-decoration: none;
}

.insta:hover{
    color: rgb(255, 0, 242);
}


.linkedin{
    color:white;
    font-size: 70px;
    transition: 0.2s;
    text-decoration: none;
}

.linkedin:hover{
    color:rgb(255, 0, 242);
}

.github{
    color:white;
    font-size: 70px;
    transition: 0.2s;
    text-decoration: none;
}

.github:hover{
    color: rgb(255, 0, 242);
}


.aspiration,.lang-skills,.grades{
    width:450px;
}


@media (max-width: 1000px) {
    .aspiration,.lang-skills,.grades,h2 {
      display: none;
    }

}

